.App {
  margin: 80px auto;
  max-width: 680px;
  font-family: "Poppins", sans-serif;
  color: white;
}
.App .weather-app-wrapper {
  border: 3px solid #14b6db;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(9 31 50 / 55%);
}
body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/105/041/original/world_weather.jpg?1701019839");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .App {
    margin: 80px 10px;
  }
  .App .weather-app-wrapper {
    padding: 8px;
  }
}
@media (max-width: 400px) {
  .App {
    margin: 80px 8px;
  }
  .App .weather-app-wrapper {
    padding: 0px;
  }
}
@media (max-width: 370px) {
  .App {
    margin: 60px 0px;
  }
}
