.App {
  margin: 80px auto;
  max-width: 650px;
  font-family: "Poppins", sans-serif;
  color: white;
}
.weather-app-wrapper {
  border: 3px solid #ffc107;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(66, 143, 214, 0.6);
}
body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/084/672/original/pexels-photomix-company-96622.jpg?1686065668");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #388ecb;
}
