.App {
  margin: 80px auto;
  max-width: 680px;
  font-family: "Poppins", sans-serif;
  color: white;
}
.App .weather-app-wrapper {
  border: 3px solid #14b6db;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(9 31 50 / 55%);
}
body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/105/041/original/world_weather.jpg?1701019839");
  background-repeat: no-repeat;
  background-size: cover;
}
