.Footer {
  margin-top: 12px;
  padding-left: 20px;
  font-style: italic;
  color: white;
  font-size: 13px;
}
.Footer a {
  margin-right: 5px;
  color: #ffe200;
}

@media (max-width: 767px) {
  .Footer {
    font-size: 10px;
  }
}

@media (max-width: 488px) {
  .Footer {
    font-size: 8px;
  }
}
