.weather-forecast {
  text-align: center;
}
.weather-forecast-day {
  font-size: 17px;
  opacity: 0.8;
  padding: 15px;
  padding-bottom: 5px;
}
.weather-forecast-temp {
  font-size: 16px;
}
.weather-forecast-temp-min {
  opacity: 0.6;
}
