.Forecast {
  text-align: center;
}
.Forecast-day {
  font-size: 17px;
  opacity: 0.8;
}
.Forecast img {
  /* margin: 5px; */
  width: 70px;
  height: 70px;
}
.Forecast-temp {
  font-size: 16px;
}
.Forecast-temp-min {
  opacity: 0.6;
  margin-left: 5px;
}
