.WeatherInfo ul {
  list-style: none;
}
.WeatherInfo .city {
  font-size: 38px;
  margin-top: 35px;
  margin-left: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.WeatherInfo .day-plus-time {
  margin-top: 18px;
  font-size: 17px;
  margin-bottom: 23px;
  font-style: italic;
  font-weight: 500;
}
.WeatherInfo .weather-description {
  text-transform: capitalize;
}
.WeatherInfo .other-weather-data {
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
}
.WeatherInfo .weather-image canvas {
  position: relative;
  left: 50px;
  display: block;
}

@media (max-width: 767px) {
  .WeatherInfo .city {
    font-size: 30px;
  }
  .WeatherInfo .day-plus-time {
    margin-top: 14px;
    font-size: 13px;
    margin-bottom: 18px;
  }
  .WeatherInfo .other-weather-data {
    font-size: 12px;
  }
  .WeatherInfo .weather-image canvas {
    width: 90px;
    left: 30px;
  }
}
@media (max-width: 488px) {
  .WeatherInfo .city {
    font-size: 28px;
    margin-left: 20px;
    margin-top: 25px;
  }
  .WeatherInfo ul {
    padding-left: 20px;
  }
  .WeatherInfo .day-plus-time {
    margin-top: 11px;
    font-size: 11px;
    margin-bottom: 11px;
  }
  .WeatherInfo .other-weather-data {
    font-size: 9px;
  }
  .WeatherInfo .weather-image canvas {
    width: 60px;
    left: 30px;
    top: 20px;
  }
}
@media (max-width: 370px) {
  .WeatherInfo .city {
    font-size: 23px;
    margin-left: 13px;
    margin-top: 25px;
  }
  .WeatherInfo ul {
    padding-left: 13px;
  }
  .WeatherInfo .day-plus-time {
    font-size: 9px;
  }
  .WeatherInfo .other-weather-data {
    font-size: 6px;
  }
  .WeatherInfo .weather-image canvas {
    width: 40px;
    left: 10px;
    top: 30px;
  }
}
